/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #the-list-blueprint {
	margin-top: 25px;
	display: flex;
    flex-wrap: wrap;
 }

 #blueprint_plugins {
	width: 90%;
 }

 .sbi-button-actions{
	 display: flex;
	 justify-content: space-evenly;
	 margin-top: 25px;
 }

 #sbi-danger-button {
	background: #F8931F;
	border-color: #F8931F;
	text-shadow: none;
	box-shadow: none;
 }

 .sbi-danger-buttons .sbi-delete-button {
	 color: red;
 }

 #sbi-permalink-list{
	display: flex;
    justify-content: flex-start;
 }

 .sbi-danger {
	 color: red;
 }

 .date-time-text {
    display: inline-block;
    min-width: 10em;
}
