/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #the-list-blueprint {
	margin-top: 50px;
	display: flex;
    flex-wrap: wrap;
 }

 #blueprint_plugins{
	width: 90%;
 }
