/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #the-list-blueprint {
	margin-top: 25px;
	display: flex;
    flex-wrap: wrap;
 }

 #blueprint_plugins {
	width: 90%;
 }

 .sbi-button-actions{
	 display: flex;
	 justify-content: space-evenly;
	 margin-top: 25px;
 }
